{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<link href="{% static 'css/curso.css' %}" rel="stylesheet" />
<link href="{% static 'css/estudiantes.css' %}" rel="stylesheet" />




<div class="container text-center">
    <h1>Cambio de Contraseña</h1>
</div>

<div class="container">
    <form style=" width: 50vw; margin-left : 20vw;" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="container text-center">
        <button type="submit" class="btn_cur btn btn-primary">Cambiar</button>
        <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'editarPerfil' %}"> Volver</a>


        </div>
    </form>
</div>

{% endblock %}