{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<link href="{% static 'css/curso.css' %}" rel="stylesheet" />
<body>
    <form action="{% url 'profesores' %}" method="POST" class="form_curso"> {% csrf_token %}
        <section class="sec_cur">
    
            <h3 class="title">Profesores</h3>
            {% if formulario.errors %}
                <p style="color: red;"> Verifica que los datos sean correctos</p>
            {% endif %}
    
            <table>
    
                {{  formulario.as_table  }}
    
            </table>
    
            <button type="submit" class="btn_cur"> Cargar </button>
            <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'listaProfesores' %}"> Ver Profesores</a>

        </section>
    
    </form>
    {% endblock %}
</body>
</html>