{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />

<form action="" method="POST" class="form_curso"> {% csrf_token %}


    <h3 class="title">Lista de Profesores</h3>

    <table class="table">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Profesion</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{profesor.nombre}}</td>
                <td>{{profesor.apellido}}</td>
                <td>{{profesor.email}}</td>
                <td>{{profesor.profesion}}</td>

                <td>
                    <a class="btn" id="liveAlertBtn" href="{% url 'editarProfesor' profesor.id %}"><i class="bi bi-pencil-square"></i></a>
                    {% comment %} <a class="btn" id="liveAlertBtn" href="{% url 'eliminarProfesor' profesor.id %}"><i class="bi bi-trash3"></i></a> {% endcomment %}
                    <a class="btn" onclick="eliminarProfesor( {{profesor.id}} )" id="btn-elim"><i class="bi bi-trash3"></i></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
        <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'profesores' %}"> Agregar Profesores</a>
        {% if formulario.errors %}
                <p style="color: red;"> {{mensaje}}</p>
            {% endif %}

</form>
{% endblock %}
{% block js %}
<script>
    function eliminarProfesor(id) {

        Swal.fire({
            "title": "¿Estas seguro?!",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/app_proyecto_final/eliminarProfesor/"+id+""
            }
        })
    }
</script>
{% endblock %}