{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<link href="{% static 'css/curso.css' %}" rel="stylesheet" />
<body>
    <form action="{% url 'estudiantes' %}" method="POST" class="form_curso"> {% csrf_token %}
        <section class="sec_cur">
    
            <h3 class="title">Agregar Estudiantes</h3>

            {% if formulario.errors %}
                <p style="color: red;"> {{mensaje}}</p>
            {% endif %}
    
            <table>
    
                {{  formulario.as_table  }}
    
            </table>
    
            <button type="submit" class="btn_cur"> Cargar </button>
            <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'listaEstudiantes' %}"> Ver Estudiantes</a>
        </section>
    
    </form>
    {% endblock %}
</body>
</html>