{% extends "padre.html" %}

{% load static %}


{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />

<section id="about" class="about">

      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre Mí</h2>
          <p>Proyecto pensado para el uso informativo y como base de datos, para una institución educativa.  </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'assets/sobreMi.jpg' %}" class="img-fluid sobreMi" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Desarrollador &amp; Web Developer Python.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>19 Mayo 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>En desarrollo</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>(+54) 11 6036-1071</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>San Andrés, Gran Bs As</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Años:</strong> <span>32</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Nivel:</strong> <span>Junior</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>gonzalezmarcos1905@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>

      </div>
    </section>
{% endblock %}