{% extends "padre.html" %}

{% load static %}


{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />

    <h1 class="contacto_title h1">Contacto</h1>
<section class="blog-section">

    <article class="post" id="post-86" data-wow-delay="0.4s">




        <div class="post-content">



            <div class="entry-content">

                <br><br><br>
                <p><strong>ADMINISTRACIÓN</strong><br> Diagonal 69 Doctor Aleu 60, Gran Buenos Aires, Provincia de Buenos Aires<br>Horario: 7:00 a 12
                    hs.<br><a
                        href="mailto:elumaradm@gmail.com" class="ref_contacto">elumaradm@gmail.com</a><br><br><strong>NIVEL
                        MATERNAL</strong><br>Diagonal 69 Doctor Aleu 60. Villa Ballester&nbsp;<br><a
                        href="mailto:jardinelumar@gmail.com" class="ref_contacto">jardinelumar@gmail.com</a><br><br><strong>NIVEL
                        INICIAL</strong><br>Diagonal 69 Doctor Aleu 60. Villa Ballester<br><a
                        href="mailto:jardinelumar@gmail.com" class="ref_contacto">jardinelumar@gmail.com</a><br><br>
                </p>
                <p><strong>Teléfonos</strong><br>4738-2140</p>



                <pre
                    class="wp-block-preformatted"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.8953857665009!2d-58.554133977413564!3d-34.55252914493862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb75606f6c085%3A0x6a7f4e2367978ec4!2sELUMAR!5e0!3m2!1ses!2sar!4v1682364108389!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></pre>



                <p></p>
            </div>
        </div>
    </article>

</section>
{% endblock %}
