{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />

<form action="{% url 'cursos' %}" method="POST" class="form_curso"> {% csrf_token %}
    <section class="sec_cur">

        <h3 class="title">Cursos</h3>
        {% if formulario.errors %}
            <p style="color: red;"> Algo está mal</p>
        {% endif %}

        <table>

            {{  formulario.as_table  }}

        </table>

        <button type="submit" class="btn_cur"> Cargar </button>

    </section>

</form>
{% endblock %}