{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />
<link href="{% static 'css/cursoCreate.css' %}" rel="stylesheet" />


<form action="{% url 'salas' %}" method="POST" class="form_curso"> {% csrf_token %}
    <section class="sec_cur">

        <h3 class="title">Salas</h3>
        {% if formulario.errors %}
            <p style="color: red;"> Algo está mal</p>
        {% endif %}

        <table>

            {{  formulario.as_table  }}

        </table>
        <div class="btn_group">
            <button type="submit" class="btn_cur btn btn-secondary"> Cargar </button>
            <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'listaSalas' %}"> Ver Salas</a>
        </div>

    </section>

</form>
{% endblock %}