{% extends "padre.html" %}

{% load static %}


{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />

<form action="{% url 'listaCursos' %}" method="POST" class="form_curso"> {% csrf_token %}
    <div class="alert alert-success alert-dismissible fade show" id="alert-success">
        {{mensaje}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h3 class="title">Lista de Cursos</h3>
    <table class="table">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Comision</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{curso.nombre}}</td>
                <td>{{curso.comision}}</td>
                <td>
                    <a class="btn" href="{% url 'editarCurso' curso.id %}" id="btn-edit"><i
                            class="bi bi-pencil-square"></i></a>
                            <!-- Validacion para el front, cambiar a (href="{% url 'editarCurso' curso.id %}") -->
                    <a class="btn" onclick="eliminarCurso( {{curso.id}} )" id="btn-elim"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <a class="nav-link-curso btn_cur btn btn-secondary" href="{% url 'cursos' %}"> Agregar Cursos</a>
</form>

{% endblock %}

{% block js %}
<script>
    function eliminarCurso(id) {

        Swal.fire({
            "title": "¿Estas seguro?!",
            "text": "Esta acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/app_proyecto_final/eliminarCurso/"+id+""
            }
        })
    }
</script>
{% endblock %}