{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<link href="{% static 'css/curso.css' %}" rel="stylesheet" />


<form action="{% url 'editarCurso' curso.id %}" method="POST"> {% csrf_token %}
    <section class="sec_cur">
        <h3 class="title">Editar de Curso</h3>
        <table >

            {{ formulario.as_table }}

        </table>

        <input type="submit" value="Guardar Cambios" class=" btn btn-secondary btn_cur" id="guardarCambios">
    </section>

</form>

{% endblock %}
