{% extends "padre.html" %}

{% load static %}

{% block header %}

<link href="{% static 'css/curso.css' %}" rel="stylesheet" />
<link href="{% static 'css/blogs.css' %}" rel="stylesheet" />

{% endblock %}

{% block contenidoQueCambia %}
<!--Main layout-->
<main class="my-5">
  <div class="container container_blog">
    <!--Section: Content-->
    <section class="text-center">
      <h1 class="mb-5"><strong>Bienvenidos a nuestras últimas novedades</strong></h1>

      <div class="row">
        <div class="">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              {% if post.imagen %}
              <img src="{{ post.imagen.url }}" class="img-fluid img-blog" />
              {% endif %}
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ post.titulo }}</h3>
              <p class="card-text h4">
                {{ post.texto }}
              </p>

              <a href="{% url 'blog' %}" class="btn_blog btn btn-primary">Volver</a>
              <div class="card-footer text-muted ">
                Creado por: {{ post.usuario.username }} - {{ post.fechaPost }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>
<!--Main layout-->
<div class="container container_blog">

  <section class="container_comment">

    <em class="text-muted h2">Comentarios habilitados sólo para usuarios de la plataforma</em>
    <br>
    <br>

    {% if comentarios %}
    <h3><u><em>Total {{ totalComentario }} comentarios:</em></u></h3>
    <br><br>
    {% for comentario in comentarios %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><small class="small-coment">Comentado por:</small> {{ comentario.nombre }}</h4>
        <blockquote class="blockquote-comment">
          {{ comentario.texto }}
        </blockquote>
        <p class="card-texto text-muted">{{ comentario.fechaComentario }}  <i class="bi bi-chat-left-heart"></i></p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h3><em>Aún no hay comentarios.</em></h3>
    {% endif %}
  </section>

</div>
{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  <section class="sec_cur">
    <h3 class="title">Envianos tu comentario</h3>
    <table>

      {{comentario_form.as_table}}

    </table>
    
    <button type="submit" class="btn_cur btn btn-secondary"> Enviar </button>
    
  </section>

</form>
{% endif %}

{% endblock %}